body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 6%, rgba(0,212,255,1) 34%);
    background-attachment: fixed;
    margin: 0;
    font-family: 'Times New Roman', Times, serif; 

}
#form{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;
}
h1{
    text-align: center;
    color: aqua;
}
#form button{
    background-color:  aqua;
    color: white;
    border: 1px solid aqua;
    border-radius: 5px;
    padding: 10px;
    margin: 20 0px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid aqua;
} 
.input-group :focus{
    outline: 0;
}
.input-group .error{
    color: red;
    font-size: 16px;
    margin-top: 5px;
}
.input-group .success input{
   border-color: green;
}
.input-group .error input{
    border-color:red;
 }
 
